{% extends 'base.html' %}
{% load static %}
    
    {% block css %}
    <!-- Local Libraries Stylesheet -->
    <link href="{% static '/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static '/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Local Customized Bootstrap Stylesheet -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Local Template Stylesheet -->
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
   
    {% endblock %}

    {% block navbar %}

    <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
            <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
                <h1 class="m-0"><img class="img-fluid me-3" src="{% static 'img/icon/icon-02-primary.png' %}" alt="Icon 02 Primary"></h1>

            </a>
                 <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-auto bg-light rounded pe-4 py-3 py-lg-0">
                    <a href="{% url 'home' %}" class="nav-item nav-link active">Main page</a>
                    <a href="{% url 'about' %}" class="nav-item nav-link">About us</a>
                    <a href="{% url 'members' %}" class="nav-item nav-link">Team members</a>
                    <a href="{% url 'service' %}" class="nav-item nav-link">Our services</a>
                    <div class="nav-item dropdown">
                        </div>
                    </div>
                    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact us</a>
                </div>

            <!--<a href="" class="btn btn-primary px-3 d-none d-lg-block">Get A Quote</a>-->
            <div class="dropdown language-selector">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownLanguage" data-bs-toggle="dropdown" aria-expanded="false">
                    UZ
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownLanguage">
                    <li><a class="dropdown-item" href="/ru">RU</a></li>
                    <li><a class="dropdown-item" href="/">EN</a></li>
                </ul>
            </div>
        </nav>
        <!-- Navbar End -->
        {% endblock %}


    {% block content %}
    <!-- Carousel Start -->
   <div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="{% static '/img/carousel-1.jpg' %}" alt="Carousel Image 1">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <h1 class="display-3 text-dark mb-4 animated slideInDown">Eng Yaxshi Yurisdiksiya Shu Yerdan Boshlanadi</h1>
                                <p class="fs-5 text-body text-black mb-5">Sizning xotirjamligingizni saqlash bizning ustuvor vazifamizdir. Yetakchi yurisdiksiya yechimlari provayderi sifatida biz sizni misli ko'rilmagan himoya bilan ta'minlashga intilamiz.</p>
                                <a href="" class="btn btn-primary py-3 px-5">Batafsil Ma'lumot</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="{% static '/img/carousel-2.jpg' %}" alt="Carousel Image 2">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <h1 class="display-3 text-dark mb-4 animated slideInDown">Eng Yaxshi Yurisdiksiya Shu Yerdan Boshlanadi</h1>
                                <p class="fs-5 text-body text-black mb-5">Sizning xotirjamligingizni saqlash bizning ustuvor vazifamizdir. Yetakchi yurisdiksiya yechimlari provayderi sifatida biz sizni misli ko'rilmagan himoya bilan ta'minlashga intilamiz.</p>
                                <a href="" class="btn btn-primary py-3 px-5">Batafsil Ma'lumot</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Oldingi</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Keyingi</span>
        </button>
    </div>
</div>

    <!-- Carousel End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden rounded ps-5 pt-5 h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="{% static '/img/about.jpg' %}" alt="About" style="object-fit: cover;">
                    <div class="position-absolute top-0 start-0 bg-white rounded pe-3 pb-3" style="width: 200px; height: 200px;">
                        <div class="d-flex flex-column justify-content-center text-center bg-primary rounded h-100 p-3">
                            <h1 class="text-white mb-0">17</h1>
                            <h2 class="text-white">Yillik</h2>
                            <h5 class="text-white mb-0">Tajriba</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6 mb-5">Professional Yurisdiksiya Konsalting Xizmatlari</h1>
                    <p class="fs-5 text-primary mb-4">Bizning jamoamiz har bir yurisdiksiya tafsilotiga e'tibor berib, sizga eng yaxshi yechimlarni taqdim etadi.</p>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <!--<img class="flex-shrink-0 me-3" src="/static/img/icon/law-icon-01-primary.png" alt="Law Icon 01 Primary">-->
                                <h5 class="mb-0">Moslashtirilgan Yurisdiksiya Yechimlari</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <!--<img class="flex-shrink-0 me-3" src="/static/img/icon/law-icon-02-primary.png" alt="Law Icon 02 Primary">-->
                                <h5 class="mb-0">Mijozga Yo'naltirilgan Yondashuv</h5>
                            </div>
                        </div>
                    </div>
                    <p class="mb-4">Sizning ehtiyojlaringizga mos keladigan keng qamrovli yurisdiksiya maslahati. Korporativ huquqdan tortib shaxsiy sudlovgacha, biz mijozlarimizni himoya qilish va kuchaytirish uchun barcha jihatlarni qamrab olamiz.</p>
                    <div class="border-top mt-4 pt-4">
                        <div class="d-flex align-items-center">
                            <!--<img class="flex-shrink-0 rounded-circle me-3" src="/static/img/law-firm-logo.png" alt="Law Firm Logo">-->
                            <h5 class="mb-0">Biz bilan bog'laning: +1 469 833 0078</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- About End -->


    <!-- Facts Start -->
    <div class="container-fluid overflow-hidden my-5 px-lg-0">
    <div class="container facts px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 facts-text wow fadeIn" data-wow-delay="0.1s">
                <div class="h-100 px-4 ps-lg-0">
                    <h1 class="text-white mb-4">Shaxslar va tashkilotlar uchun</h1>
                    <p class="text-light mb-5">Bizning yurisdiksiya xizmatlarimiz shaxslar va tashkilotlar uchun moslashtirilgan, ular sizning ehtiyojlaringizni qondirish va moliyaviy xavfsizligingizni ta'minlash uchun ishlab chiqilgan.</p>
                    <a href="" class="align-self-start btn btn-secondary py-3 px-5">Batafsil ma'lumot</a>
                </div>
            </div>
            <div class="col-lg-6 facts-counter wow fadeIn" data-wow-delay="0.5s">
                <div class="h-100 px-4 pe-lg-0">
                    <div class="row g-5">
                        <div class="col-sm-6">
                            <h1 class="display-5" data-toggle="counter-up">120</h1>
                            <p class="fs-5 text-primary">Baxtli mijozlar</p>
                        </div>
                        <div class="col-sm-6">
                            <h1 class="display-5" data-toggle="counter-up">144</h1>
                            <p class="fs-5 text-primary">Muvaffaqiyatli loyihalar</p>
                        </div>
                        <div class="col-sm-6">
                            <h1 class="display-5" data-toggle="counter-up">159</h1>
                            <p class="fs-5 text-primary">Yangi loyihalar</p>
                        </div>
                        <div class="col-sm-6">
                            <h1 class="display-5" data-toggle="counter-up">15</h1>
                            <p class="fs-5 text-primary">Potentsial loyihalar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Facts End -->


    <!-- Features Start -->
   <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-6 mb-5">Nega odamlar bizni tanlashadi?</h1>
                <p class="mb-4">Bizning xizmatlarimiz yuqori sifatli va ishonchli bo'lib, sizning ehtiyojlaringizga mos keladi. Biz bilan hamkorlik qilish oson va qulay, sizga kerakli yurisdiksiya xizmatlarini tezda taqdim etamiz.</p>
                <div class="row g-3">
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="bg-light rounded h-100 p-3">
                            <div class="bg-white d-flex flex-column justify-content-center text-center rounded h-100 py-4 px-3">
                                <img class="align-self-center mb-3" src="{% static '/img/icon/icon-06-primary.png' %}" alt="Icon 06 Primary">
                                <h5 class="mb-0">Oson jarayon</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                        <div class="bg-light rounded h-100 p-3">
                            <div class="bg-white d-flex flex-column justify-content-center text-center rounded py-4 px-3">
                                <img class="align-self-center mb-3" src="{% static '/img/icon/icon-03-primary.png' %}" alt="Icon 03 Primary">
                                <h5 class="mb-0">Tez yetkazib berish</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="bg-light rounded h-100 p-3">
                            <div class="bg-white d-flex flex-column justify-content-center text-center rounded py-4 px-3">
                                <img class="align-self-center mb-3" src="{% static '/img/icon/icon-04-primary.png' %}" alt="Icon 04 Primary">
                                <h5 class="mb-0">Siyosatni nazorat qilish</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                        <div class="bg-light rounded h-100 p-3">
                            <div class="bg-white d-flex flex-column justify-content-center text-center rounded h-100 py-4 px-3">
                                <img class="align-self-center mb-3" src="{% static '/img/icon/icon-07-primary.png' %}" alt="Icon 07 Primary">
                                <h5 class="mb-0">Pul tejash</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative rounded overflow-hidden h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="{% static '/img/feature.jpg' %}" alt="Feature" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Features End -->


    <!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto" style="max-width: 500px;">
            <h1 class="display-6 mb-5">Biz professional yurisdiksiya xizmatlarini taqdim etamiz</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded h-100 p-5">
                    <div class="d-flex align-items-center ms-n5 mb-4">
                        <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                            <img class="img-fluid" src="{% static '/img/icon/icon-10-light.png' %}" alt="Icon 10 Light">
                        </div>
                        <h4 class="mb-0">Hayot sug'urtasi</h4>
                    </div>
                    <p class="mb-4">Hayot sug'urtasi xizmatlarimiz hayotingizni va moliyaviy xavfsizligingizni himoya qiladi, sizning oilangizning kelajagini kafolatlaydi.</p>
                    <a class="btn btn-light px-3" href="">Batafsil</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded h-100 p-5">
                    <div class="d-flex align-items-center ms-n5 mb-4">
                        <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                            <img class="img-fluid" src="{% static '/img/icon/icon-01-light.png' %}" alt="Icon 01 Light">
                        </div>
                        <h4 class="mb-0">Sog'liq yurisdiksiyasi</h4>
                    </div>
                    <p class="mb-4">Sog'liq yurisdiksiyasi xizmatlarimiz sizning tibbiy xarajatlaringizni qoplash uchun mukammal yechimdir, shuningdek sizni va oilangizni tibbiy muammolardan himoya qiladi.</p>
                    <a class="btn btn-light px-3" href="">Batafsil</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded h-100 p-5">
                    <div class="d-flex align-items-center ms-n5 mb-4">
                        <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                            <img class="img-fluid" src="{% static '/img/icon/icon-05-light.png' %}" alt="Icon 05 Light">
                        </div>
                        <h4 class="mb-0">Uy yurisdiksiyasi</h4>
                    </div>
                    <p class="mb-4">Uy yurisdiksiyasi xizmatlarimiz sizning uy-joyingizni tabiiy ofatlardan va boshqa kutilmagan hodisalardan himoya qiladi, mol-mulkingizni xavfsiz saqlaydi.</p>
                    <a class="btn btn-light px-3" href="">Batafsil</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded h-100 p-5">
                    <div class="d-flex align-items-center ms-n5 mb-4">
                        <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                            <img class="img-fluid" src="{% static '/img/icon/icon-08-light.png' %}" alt="Icon 08 Light">
                        </div>
                        <h4 class="mb-0">Avtomobil yurisdiksiyasi</h4>
                    </div>
                    <p class="mb-4">Avtomobil yurisdiksiyasi xizmatlarimiz sizning transport vositangizni avariya va o'g'irliklardan himoya qiladi, sizning tinchligingizni ta'minlaydi.</p>
                    <a class="btn btn-light px-3" href="">Batafsil</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded h-100 p-5">
                    <div class="d-flex align-items-center ms-n5 mb-4">
                        <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                            <img class="img-fluid" src="{% static '/img/icon/icon-07-light.png' %}" alt="Icon 07 Light">
                        </div>
                        <h4 class="mb-0">Biznes yurisdiksiyasi</h4>
                    </div>
                    <p class="mb-4">Biznes yurisdiksiyasi xizmatlarimiz sizning kompaniyangizni xavflardan va moliyaviy yo'qotishlardan himoya qiladi, muvaffaqiyatli rivojlanishingizni qo'llab-quvvatlaydi.</p>
                    <a class="btn btn-light px-3" href="">Batafsil</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded h-100 p-5">
                    <div class="d-flex align-items-center ms-n5 mb-4">
                        <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                            <img class="img-fluid" src="{% static '/img/icon/icon-06-light.png' %}" alt="Icon 06 Light">
                        </div>
                        <h4 class="mb-0">Mulk yurisdiksiyasi</h4>
                    </div>
                    <p class="mb-4">Mulk yurisdiksiyasi xizmatlarimiz sizning barcha turdagi mulklaringizni himoya qiladi, sizga tinchlik va xavfsizlik hissini beradi.</p>
                    <a class="btn btn-light px-3" href="">Batafsil</a>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Service End -->


    <!-- Appointment Start -->
    <div class="container-fluid appointment my-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                <h1 class="display-6 text-white mb-5">Biz Mukofotga Sazovor Bo'lgan Yurisdiksiya Kompaniyasimiz</h1>
                <p class="text-white mb-5">Biz mukammallik va xizmat ko'rsatishning mukammalligi uchun tan olingan yetakchi yurisdiksiya kompaniyasimiz.
                    Mukofotlarimiz yurisdiksiya xizmatlarini ko'rsatishda sifat, innovatsiya va ishonchlilikka sodiqligimizni tasdiqlaydi.
                    Yuzlab mijozlar ularni himoya qilish uchun bizga ishonishadi va bizning xizmatimiz soha mutaxassislari tomonidan e'tirof etilganidan faxrlanamiz.
                    Nima uchun biz sizning himoyangiz uchun to'g'ri tanlov ekanligimizni bilib oling.</p>
                <div class="bg-white rounded p-3">
                    <div class="d-flex align-items-center bg-primary rounded p-3">
                        <img class="flex-shrink-0 rounded-circle me-3" src="{% static '/img/profile.jpg' %}" alt="Profile Image">
                        <h5 class="text-white mb-0">Bizga qo'ng'iroq qiling: +012 345 6789</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="bg-white rounded p-5">
                    <form>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="gname" placeholder="Ismingiz">
                                    <label for="gname">Ismingiz</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="gmail" placeholder="Emailingiz">
                                    <label for="gmail">Emailingiz</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cname" placeholder="Telefon raqamingiz">
                                    <label for="cname">Telefon raqamingiz</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cage" placeholder="Xizmat turi">
                                    <label for="cage">Xizmat turi</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Xabar qoldiring" id="message" style="height: 80px"></textarea>
                                    <label for="message">Xabar</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary py-3 px-5" type="submit">Uchrashuvni olish</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Appointment End -->


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto" style="max-width: 500px;">
                <h1 class="display-6 mb-5">Professional jamoamiz a'zolari bilan tanishing</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded">
                      <img class="img-fluid" src="{% static '/img/team-1.jpg' %}" alt="Jamoa a'zosi 1">
                        <div class="text-center p-4">
                            <h5>To'liq ism</h5>
                            <span>Belgilanish</span>
                        </div>
                        <div class="team-text text-center bg-white p-4">
                            <h5>To'liq ism</h5>
                            <p>Belgilanish</p>
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item rounded">
                        <img class="img-fluid" src="{% static '/img/team-2.jpg' %}" alt="Jamoa a'zosi 1">

                        <div class="text-center p-4">
                            <h5>To'liq ism</h5>
                            <span>Belgilanish</span>
                        </div>
                        <div class="team-text text-center bg-white p-4">
                            <h5>To'liq ism</h5>
                            <p>Belgilanish</p>
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item rounded">
                       <img class="img-fluid" src="{% static '/img/team-3.jpg' %}" alt="Team Member 1">
                        <div class="text-center p-4">
                            <h5>To'liq ism</h5>
                            <span>Belgilanish</span>
                        </div>
                        <div class="team-text text-center bg-white p-4">
                            <h5>To'liq ism</h5>
                            <p>Belgilanish</p>
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item rounded">
                        <img class="img-fluid" src="{% static '/img/team-4.jpg' %}" alt="Team Member 1">
                        <div class="text-center p-4">
                            <h5>To'liq ism</h5>
                            <span>Belgilanish</span>
                        </div>
                        <div class="team-text text-center bg-white p-4">
                            <h5>To'liq ism</h5>
                            <p>Belgilanish</p>
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto" style="max-width: 500px;">
            <h1 class="display-6 mb-5">Bizning yurisdiksiya haqida nima deyishadi</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 d-none d-lg-block">
                <div class="testimonial-left h-100">
                    <img class="img-fluid animated pulse infinite" src="{% static '/img/testimonial-1.jpg' %}" alt="Testimonial 1">
                    <img class="img-fluid animated pulse infinite" src="{% static '/img/testimonial-2.jpg' %}" alt="Testimonial 2">
                    <img class="img-fluid animated pulse infinite" src="{% static '/img/testimonial-3.jpg' %}" alt="Testimonial 3">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item text-center">
                        <img class="img-fluid rounded mx-auto mb-4" src="{% static '/img/testimonial-1.jpg' %}" alt="Testimonial 1">
                        <p class="fs-5">Hayotda - kutilmagan vaziyatlarda oilangizni moliyaviy himoya qilishning eng muhim usullaridan biri.</p>
                        <h5>Mijoz Ismi</h5>
                        <span>Kasbi</span>
                    </div>
                    <div class="testimonial-item text-center">
                        <img class="img-fluid rounded mx-auto mb-4" src="{% static '/img/testimonial-2.jpg' %}" alt="Testimonial 2">
                        <p class="fs-5">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <h5>Mijoz Ismi</h5>
                        <span>Kasbi</span>
                    </div>
                    <div class="testimonial-item text-center">
                        <img class="img-fluid rounded mx-auto mb-4" src="{% static '/img/testimonial-3.jpg' %}" alt="Testimonial 3">
                        <p class="fs-5">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <h5>Mijoz Ismi</h5>
                        <span>Kasbi</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <div class="testimonial-right h-100">
                    <img class="img-fluid animated pulse infinite" src="{% static '/img/testimonial-1.jpg' %}" alt="Testimonial 1">
                    <img class="img-fluid animated pulse infinite" src="{% static '/img/testimonial-2.jpg' %}" alt="Testimonial 2">
                    <img class="img-fluid animated pulse infinite" src="{% static '/img/testimonial-3.jpg' %}" alt="Testimonial 3">
                </div>
            </div>
        </div>
    </div>
</div>

        
        
  <!-- Chat Icon -->
    <div id="chat-icon">
    <i class="fa fa-comments"></i>
</div>

    <!-- Chat Window -->
    <div id="chat-window">
        <div id="chat-header">
            <span>Chat</span>
            <button id="chat-close-button">&times;</button>
        </div>
        <div id="chat-messages">
            <!-- Messages will be appended here -->
        </div>
        <div id="chat-input-container">
            <textarea id="chat-input" placeholder="Type your message..."></textarea>
            <button id="send-button">Send</button>
        </div>
    </div>

        
    {% endblock %}

    {% block js %}
    <!-- Локальные JavaScript библиотеки -->
    <script src="{% static '/lib/wow/wow.min.js' %}"></script>
    <script src="{% static '/lib/easing/easing.min.js' %}"></script>
    <script src="{% static '/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static '/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static '/lib/counterup/counterup.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
        
    {% endblock %}